 <!--This file is created by Shubh Agarwal -->
{% extends 'shop/basic.html' %}

{% block title%}About Us - My Online Cart{% endblock %}

{% block body %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Online Cart</h1>
      <p>E-commerce is revolutionizing the way we all shop in India.
        Why do you want to hop from one store to another in search of the latest phone
        when you can find it on the Internet in a single click? Not only mobiles.
        My Online Cart houses everything you can possibly imagine, from trending electronics
        like laptops, smartphones, and mobile accessories to in-vogue fashion staples
        like shoes, clothing and lifestyle accessories; from modern furniture
        like sofa sets, and wardrobes to appliances that make your
        life easy like washing machines, TVs, mixer grinder juicers and other
        time-saving small appliances; from home furnishings
        like cushion covers and bedsheets to toys and musical instruments.
        We got them all covered.</p> <p>You name it, and you can stay assured about finding them all here.

        For those of you with erratic working hours, My Online Cart is your best bet.
        Shop in your PJs, at night or in the wee hours of the morning. This e-commerce never shuts down.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Mobile Phones</h2>
        <p><em>From budget phones to state-of-the-art smartphones, we have a mobile for everybody out there.
          Shop from top brands in the country
          like Samsung, Apple, Oppo, Xiaomi, Realme, Vivo, and Honor to name a few. Rest assured,
          you're buying from only the most reliable names in the market. What's more, with MOC's
          Complete Mobile Protection Plan, you will never again find the need to run around service centres.</em>  </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Electronic Devices</h2>
        <p><em>When it comes to laptops, we are not far behind.
          Filter among dozens of super-fast operating systems, hard disk capacity,
          RAM, lifestyle, screen size and many other criterias for personalized results in a flash.
          All you students out there, confused about what laptop to get? Our Back To College Store
          segregates laptops purpose wise with recommendations from top brands and industry experts.</em></p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Lifestyle</h2>
        <p><em>My Online Cart, 'India ka Fashion Capital',
          is your one-stop fashion destination for anything and everything you need to look good.
          Our exhaustive range of Western and Indian wear, summer and winter clothing,
          formal and casual footwear, bridal and artificial jewellery, long-lasting make-up,
          grooming tools and accessories are sure to sweep you off your feet. Shop from crowd favourites
          and you can rely on us.</em></p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}